<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <!-- Replace the icon with the logo image -->
        <a class="navbar-brand" href="/listings">
            <img src="/images/logo_staynest.png" alt="Logo" style="height: 100px; ">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Home</a>
                <a class="nav-link" href="/listings/new">Add New Listing</a>
            </div>
        </div>
    </div>
</nav>